{% extends 'home.html' %}
{% block login %}
<!-- about start -->
<div id="{{_('login')}}" class="slide">

	<h2>about me</h2>
	<hr>
	<img id="profilpic" src="http://themeforest.revaxarts.com/preview/premade/profilepic.jpg" alt="" width="232" height="158">
	<h3>Heading 3</h3>
	<h4>Heading 4</h4>
	<p>
		A simple paragraph.
	</p>
	<ul>
		<li>unordered list</li>
		<li>looks like this</li>
	</ul>
	<ol>
		<li>ordered list</li>
		<li>looks like this</li>
	</ol>
	
</div><!-- end div #about -->
{% endblock %}